<div class="header">
  <h1>Forrest Rails Demo</h1>
</div>
<div class="sub-header">
  <h2>My first attempt at a published rails probject!</h2>
</div>
<div class="links">
  <%= link_to "My Blog", controller: 'articles' %>
</div>
